<% if @issue.try(:pivotal_project_id) != 0 %>
  <% unless PivotalMiner.missing_custom_fields %>
  <hr/>
  <div class='description'>
  <div class="contextual">
    <%= link_to 'Update', {:action => 'update_from_pivotal', :controller => 'pivotal_miner_mappings', :issue_id => @issue.id}, :class => 'icon icon-reload' %>
  </div>
  <p><strong>Pivotal Story</strong></p>
  <p>
    <%= textilizable(@issue.pivotal_story_description) %>
  </p>
  </div>
  <% end %>
<% end %>