<% if @issue.pivotal_project_id != 0 %>
  <% unless PivotalMiner.missing_custom_fields %>
  <hr/>
  <div class='description'>
  <p><strong>Pivotal Story</strong></p>
  <p>
    <%= textilizable(@issue.pivotal_story_description) %>
  </p>
  </div>
  <% end %>
<% end %>