super_user:
  token: PIVOTAL_TRACKER_TOKEN

error_notification:
  recipient: test@example.com
  from: "[information to emails FROM field]"

mappings:
  # tracker name for SubTasks
  tasks: Task
  # status name for Task in Redmine in case it was deleted from Pivotal Tracker
  removed_task: Rejected
  # status name for Issue in Redmine if Story was deleted from Pivotal Tracker
  removed_story: Rejected
  # Tag name in Pivotal to change priority
  priority:
     P1: Immediate
     P2: Urgent
     P3: High
     P4: Medium
     P5: Low
  # User stories states map to Redmine issue states and vise versa
  story_states:
    unstarted: Pending
    started: Implementation
    finished: Resolved
    delivered: Resolved
    accepted: Closed
    rejected: Pending
  # Redmine Issue states map to Pivotal Story states
  issue_states:
    Pending: unstarted
    Implementation: started
    Resolved: finished
    Resolved: delivered
    Closed: accepted
    Pending: rejected
    Rejected: rejected
  # Redmine states map to Pivotal SubTasks 'ticks'
  task_states:
    Pending: open
    Implementation: open
    Resolved: closed
    Closed: closed
    Accepted: open