<h2>
  Estimation points to Estimated hours
</h2>
<div class="box">
  <% unless @mapping.estimations.blank? %>
    <% @mapping.estimations.each do |pair| %>
      <p>
       <b> Estimation points:</b> <%= label_tag pair[0] %> =>
        <%= text_field_tag "estimations[#{pair[0]}]", pair[1], :size => 1 %><b> hours </b>
      </p>

     <% end %>
  <% end %>

  </div>

  <h2>
    Story Type to Tracker Name
  </h2>

  <div class="box">
  <% unless @mapping.story_types.blank? %>
    <table>
        <% @mapping.story_types.each do |pair| %>
          <tr>
          <td><%= label_tag pair[0] %></td>
          <td><%= select_tag "story_types[#{pair[0]}]", options_for_select(Tracker.all.map { |t| [t.name, t.name] }, pair[1] )  %></td>
          </tr>
         <% end %>
      </table>
  <% end %>
</div>


